/* -------------------- General Section ---------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* --------------------  Logo Section ---------------------- */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.logo {
    max-width: 100px; 
    height: auto;
}

/* -------------------- Header Jumbotron Section ---------------------- */
.jumbotron {
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron-gradient {
    background: linear-gradient(to bottom, #001f3f, #3498db, #f39c12, #d35400);
    color: white;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 5px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* ------------------- Main Page Content Section ------------------- */
main {
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 60px; 
}


/* --------------------  Search Bar Section ---------------------- */
.card-title {
    margin-bottom: 2vw; 
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(145, 145, 145, 0.5);
}

.card-body {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 40px;
}

/* Search Button Styles */
.btn-primary {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 12vw;
    margin: 0 auto;
}


/* ------------------- Main Card Hotels Section ------------------- */

.card-hotel {
    width: 40vw;
    height: auto;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.heart-icon {
    background: transparent;
    border: none;
}
.country-info, .hotels, .additional-info, .saved-info {
    opacity: 0.9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.grid-item {
    margin-bottom: 10px;
}

.country-info .grid-item {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.hotels h2,
.additional-info h2,
.saved-info h2 {
   font-size: 20px;
   font-weight: bold;
}

/* Buttons Styles */
.card-hotel .card-footer button {
    margin: 5px;
    align-items: center;    
}


/* --------------------  Aside Favourite Cards Section ---------------------- */
.favourite-card {
    display: flex;
    width: 350px;
    height: 150px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.favourite-image img {
    width: 90%;
    height: 100%;
    object-fit: cover; 
}

.favourite-text {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.favourite-text p {
    margin: 0;
    font-size: 0.9em;
}

.fav-price-text {
    font-size: 0.8em;
    color: #888;
    margin-left: 10px;
}


/* --------------------  Photos Gallery Modal Section ---------------------- */
.modal-dialog {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 70vw;
    margin-top: 40px;
}


.modal-body-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 80vh;
    
}

.modal-body-gallery img {
    flex: 0 1 auto;
    max-height: 300px;
    object-fit: cover;
}

/* --------------------  Footer Section ---------------------- */
footer {
    background-color: #333;
    color: white; 
    text-align: center; 
    padding: 10px; 
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0; 
    font-size: 14px;
}


/* --------------------  Media Query Responsiveness Section ---------------------- */

/* Media query for mobile phones */
@media screen and (max-width: 600px) {
    /*Jumbotron Adjustments*/
    .jumbotron {
        padding: 10px; 
        height: 60vw;
        flex-direction: column; 
        align-items: center;
    }

    .jumbotron h1 {
        font-size: 40px;
    }
    
    /* Logo Adjustments */
    .logo-container {
        position: static; 
        margin-bottom: 10px;
    }
    
    /* Search Button Adjustments */
    .btn-primary {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        width: 45vw;
        margin: 0 auto;
    }
    
    /* Main Cards and Favourite Cards Adjustments*/ 
    .card-hotel, .favourite-card {
        width: 80vw; 
        margin: 20px auto;
    }
    
    .favourite-image img {
        width: 80%;
    }

    .favourite-text {
        font-size: 14px;
        margin-left: -25px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favourite-card {
        order: -1;
    }

    /* Card Buttons Adjustments */
    .card-hotel .card-footer button,
    .favourite-card .card-footer button {
        margin-left: 0;
    }
}



