/* ----------- General Section ---------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< Updated upstream
    font-family: 'Arial', sans-serif;
=======
    font-family: 'Roboto', sans-serif;
    position: relative;
>>>>>>> Stashed changes
}


/* ---------- Jumbotron Section ---------- */
.jumbotron {
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.jumbotron-gradient {
    background-image: url('media/background-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* --- Logo --- */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.logo {
    max-width: 100px; 
    height: auto;
}
/* --- Header Text ---*/
.jumbotron h1,
.jumbotron p {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron h1 {
    margin-top: 0%;
    margin-bottom: 6%;
    font-size: 70px;
}

.jumbotron p {
    font-size: 25px;
}

/* ----------  Search Box Section ---------- */
.card-title {
    margin-bottom: 2vw; 
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(145, 145, 145, 0.5);
}

.card-body {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 40px;
}

/* --- Search Button --- */
.btn-primary {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 5%;
    width: 40%;
    padding: 2%;
}


<<<<<<< Updated upstream
/* ------------------- Main Card Hotels Section ------------------- */
=======
/* ------------- Main Section ------------- */
main {
    grid-gap: 20px;
    padding: 20px;
    margin-bottom: 60px; 
}

.hotels-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: row;
    row-gap: 10px;
    column-gap: 40px;
}
>>>>>>> Stashed changes

.card-hotel {
    width: 40vw;
    height: auto;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
<<<<<<< Updated upstream
}

.heart-icon {
    background: transparent;
    border: none;
}
=======
    overflow: hidden;
    
    
}

/* Card Image */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image {
    position: relative;
    background-size: cover;
    background-position: cover;
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    
}

/* Card Contents */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-body {
    padding: 15px;
}

.total-price {
    margin-top: -20px;
    font-size: 1.5rem;
}

.per-night-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 25px;
    width: 70px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: 0.8rem;
}

#night-amount {
    margin-top: 3px;
    font-size: 1.3rem;
    background-color: transparent;
    color: #3498db;
}

>>>>>>> Stashed changes
.country-info, .hotels, .additional-info, .saved-info {
    opacity: 0.9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.grid-item {
    margin-bottom: 10px;
}

.country-info .grid-item {
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.hotels h2,
.additional-info h2,
.saved-info h2 {
   font-size: 20px;
   font-weight: bold;
}

.card-hotel .total-price {
    margin-top: 1%;
    color: grey;
}

/* Buttons Styles */
.card-buttons {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 25%;
}

.saveFavourite {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50px;
    border-radius: 25px;
    height: 50px;
}

.heart-icon {
    background: transparent;
    border: none;
    font-size: 24px;
    margin-top: 3px;
}

.getPhoto-btn {
    position: absolute;
    bottom: 10px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.9);;
    border: none;
    color: black;
}

.card-hotel .card-footer button {
    margin: 5px;
    align-items: center; 
}

.booking-link {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    right: 40px;
    bottom: 100px;
    text-align: center;
    background-color: #007bff;
}

.card-hotel .booking-link:hover {
    background-color: #0056b3; 
}

/* --------------------  Aside Favourite Cards Section ---------------------- */
.favourite-card {
    display: flex;
    width: 350px;
    height: 150px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.favourite-image img {
    width: 90%;
    height: 100%;
    object-fit: cover; 
}

.favourite-text {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.favourite-text p {
    margin: 0;
    font-size: 0.9em;
}

.fav-price-text {
    font-size: 0.8em;
    color: #888;
    margin-left: 10px;
}

<<<<<<< Updated upstream
=======
/* Favourites Button Styling */
.toggle-fav {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
    margin-bottom: 4%;
}

.toggle-fav:hover {
    background-color: #0056b3; 
}

.toggle-fav.btn-primary {
    background-color: #007bff; 
}



.remove-btn {
    border: none;
    background: transparent;
}

.remove-btn {
    font-size: 17px;
}

>>>>>>> Stashed changes

/* ------------ Photos Gallery Modal Section ------------ */
.modal-dialog {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 70vw;
    margin-top: 40px;
}


.modal-body-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 80vh;
    
}

.modal-body-gallery img {
    flex: 0 1 auto;
    max-height: 300px;
    object-fit: cover;
}

/* -------------------- Footer Section -------------------- */
footer {
    background-color: #333;
    color: white; 
    text-align: center; 
    padding: 10px; 
    bottom: -45%;
    width: 100%;
    position: absolute;
}

footer p {
    margin: 0; 
    font-size: 14px;
}


/* ---------- Media Query Responsiveness Section ---------- */

/* ------ Media query for mobile phones ------ */
@media screen and (max-width: 600px) {

    /* ---Jumbotron--- */
    .jumbotron {
        padding: 10px; 
        height: 50%;
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .jumbotron h1 {
        font-size: 38px;
        margin-left: 0;
        margin-top: 20%;
        margin-bottom: 20%;
    }

 
    .jumbotron p {
        text-align: center;
        margin-left: 0;
        font-size: 15p;
    }
    
    /* --- Logo --- */
    .logo-container {
        position: static; 
        margin-top: 5%;
        margin-left: -70%;
    }
    
    /* --- Search Box --- */
    .btn-primary {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        width: 45vw;
        margin: 0 auto;
    }
    
    /* --- Favourite Cards --- */
    .card-hotel, .favourite-card {
        width: 80vw; 
        margin: 20px auto;
    }
    
    .favourite-image img {
        width: 80%;
    }

    .favourite-text {
        font-size: 14px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favourite-card {
        order: -1;
    }

<<<<<<< Updated upstream
    /* Card Buttons Adjustments */
    .card-hotel .card-footer button,
    .favourite-card .card-footer button {
        margin-left: 0;
=======
    /* --- Hotels Container --- */
    .hotels-container {
        grid-template-columns: 1fr; 
    }

    .card-hotel .open-map,
    .card-hotel .getRestaurant {
        margin: 2%;
        height: 110%;
>>>>>>> Stashed changes
    }
}


<<<<<<< Updated upstream

=======
/* ---------- Media query for larger screens ---------- */
@media screen and (min-width: 601px)  {
    
    /* --- Jumbotron --- */
    .jumbotron {
        height: auto;
    }

    .jumbotron h1,
    .jumbotron p {
       text-align: center;
       margin-left: auto;
    }
    
    /* --- Search Box --- */
    .form-search {
        width: 140%;
        background-color: white;
        margin-left: -18%;
    }

    .btn-primary {
    }

    
    /* --- Favourite Cards --- */
    .favourite-card {
        width: 25vw;
    }

    .favourite-card {
        width: auto;
        font-size: 18px;
    }

    .favourite-card img {
        width: 200px;
    }

    .card-buttons {
        padding: 10px; 
    }
    
    .card-buttons > button {
        margin: 2px;
    }
}
>>>>>>> Stashed changes
